body {
  background-color: #429A9A;
}

.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background-image: url('medical-logo.jpg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center 6px;
  border: 2px solid rgba( 255, 255, 255 , 0.5);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  background-color: #D9D9D9;
}

.login-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #2C9EC2;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.input-box {
  margin-bottom: 0px;
  position: relative; 
}

.label {
  position: absolute; 
  top: -20px;
  left: 0px;
  width: 100%;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 4px;
  margin-top: 1px;
}

.icon {
  position: relative;
  top: -30px;
  right: -100px;
  padding: 10px;
}

.remember-me { 
  text-align: left;
  margin-right: 10px;
}

.forget {
  margin-left: 15px;
}

.remember-forget {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.input-submit {
  width: 90%;
  padding: 10px;
  background-color: #0C9AAC;
  border: none;
  color: white;
  cursor: pointer;
}

.input-submit:hover {
  background-color: #0371e0;
}
