/* Use these variables, especially for the project colors so that we maintain a similar theme between designs */
/* If you want to change the theme, you can change the variables in one place and it will reflect across all the files */
/* You can also use these variables for spacing, border, fonts, etc. */
/* Feel free to make it look better by changing the existing variables if you are more creative */
:root {
  /* Project Colors */
  --primary-color: #429A9A;
  --secondary-color: #0C9AAC;
  --text-box-color: var(--off-white);
  --off-white: #f9f9f9;

  /* Complimentary Colors */
  --grey-box-color: #D9D9D9;
  --dark-secondary-color: #0371e0;
  
  /* Fonts */
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  
  /* Spacing
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  
  /* Border 
  --border-radius: 4px;
  --border-width: 1px;
  
  /* Other variables 
  --max-width: 1200px;
  --transition-duration: 0.3s; */
}
